node_modules
dist
coverage
requirements
.vscode
*.js
*.json
README.md
.env*
prisma/**/*
docker-compose*
Dockerfile*
nginx.conf

**/repositories/index.ts
**/controllers/index.ts
**/schemas/index.ts
**/interfaces/index.ts
**/services/index.ts
**/middlewares/index.ts
**/config/index.ts
**/routes/index.ts
**/utils/index.ts





